//custom card
.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: $primary!important;
    margin-bottom: 3rem;
    
    @include media-breakpoint-down(md) {
        margin-top: 15rem;
    }

    @include media-breakpoint-down(sm) {
        margin-top: 25rem;
    }

    h2 {
        width: 100%;
        text-align: center;
        padding: 0 2.5rem 2.5rem 2.5rem;
        font-size: $h1-font-size;
        color: $primary;
    }

    .card {
        position: relative;
        width: 31%;
        min-width: 300px;
        height: 21.4rem;
        margin: 20px;
        transition: 0.5s;
        background: $dark;

        &:hover {
            height: 24.5rem;
        }

        &:hover .content {
            opacity: 1;
        }

        &::before,
        &::after {
            content: '';
            position: absolute;
            top: -2px;
            left: -2px;
            right: -2px;
            bottom: -2px;
            background: linear-gradient(235deg, $warning, #010615, $primary);
        }

        &::before {
            z-index: -1;
        }

        &::after {
            z-index: -2;
            filter: blur(5px);
        }

        .imgBx {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            padding: 10px;
            box-sizing: border-box;

            img {
                width: 100%;
                opacity: 0.3;
                transition: 0.5s;
                height: 20rem;

                &:hover {
                    opacity: 1;
                }
            }

        }

        .content {
            position: absolute;
            bottom: 0;
            left: 10px;
            right: 10px;
            background: rgba(0, 0, 0, 0.6);
            display: flex;
            justify-content: center;
            align-items: center;
            opacity: 1;
            transition: 0.3s;

            h3 {
                font-size: 20px;
                font-weight: 500;
                line-height: 20px;
                letter-spacing: 1px;
                text-align: center;
                padding: 1rem 0 1rem 0;
                color: $primary;

                span {
                    font-size: 14px;
                    font-weight: 200;
                    line-height: 20px;
                    letter-spacing: 3px;
                    display: block;
                }
            }

            // turns entire card into link
            a {
                position: absolute;
                display: block;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
            }

        }

        @media (max-width: 1600px) {
            width: 35%;
        }

        @media (max-width: 967px) {
            width: 400px;
        }

    }
}